<header fxLayoutAlign="start center">
    <div fxFlex fxLayoutAlign="start end" fxLayoutGap="10">
       <a routerLink=""> <mat-icon color="warn" class="logoIcon">home</mat-icon> <span class="logo">{{title}}</span></a>
    </div>
    <div fxLayoutGap="10" fxLayoutAlign="start center">
        <button mat-flat-button color="primary" routerLink="">Main Page</button>
        <button mat-flat-button color="accent" routerLink="/products">Products</button>
        <button mat-flat-button color="warn" routerLink="/login">Login</button>
        <a routerLink="/cart"><mat-icon color="accent" class="shopingBasket"  matBadge="{{cartProductCounter}}" matBadgeColor="warn">shopping_basket</mat-icon></a>
    </div>

</header>