@use '../../../../variables.scss' as variables;
:host{
    background:variables.$darkgray;
    padding: 20px;
}

.logo{
    font-size: 33px;
    color:variables.$white;
}

.logoIcon, .shopingBasket{
    font-size: 33px;
    padding:2px;
}