<header class="flex-row-center">
    <div class="flex-1 flex-row align-end gap-10">
        <mat-icon color="accent" class="logoicon">store</mat-icon>
        <span class="logo">Shop</span>
    </div>
    <div class="flex-row-center gap-10">
        <app-language-selector></app-language-selector>
        <button mat-icon-button color="accent" class="cartButton" [routerLink]="['/cart']">
            <mat-icon [matBadge]="cartProductCounter" [matBadgeHidden]="cartProductCounter === ''" matBadgeColor="warn">shopping_cart</mat-icon>
        </button>
        <button mat-icon-button color="primary" *ngIf="!isLoggedin" [routerLink]="['/login']">
            <mat-icon>login</mat-icon>
        </button>
        <button mat-icon-button color="primary" *ngIf="isLoggedin" [routerLink]="['/profile']">
            <mat-icon>person</mat-icon>
        </button>
    </div>
</header>