@use '../../../variables.scss' as variables;

:host {
    display: flex;
    flex-direction: column;
}

.productImage {
    margin-right: 15px
}

.productPrice {
    font-weight: 500;
    margin-top: 20px;
    font-size: 30px;
    color: variables.$warn;
}

.productDescription {
    font-size: 18px;
}

mat-card {
    margin-bottom: 15px
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #777;
}