@use '../../../../variables.scss' as variables;
:host{
    background:variables.$darkgray;
    padding: 20px;
    color:variables.$white;
}

.footerCopy {
    text-align: center;
}
.footerManu{
    margin-bottom: 15px;
}