<div class="flex-row">
    <div class="flex-1">
        <h2>Login</h2>
        <form class="loginForm flex-column" [formGroup]="loginForm" (submit)="login()">
            <div *ngIf="loginError" class="error">Email or password is wrong!</div>
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput formControlName="username">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password">
            </mat-form-field>
            <button mat-flat-button color="primary">Login</button>
        </form>
    </div>
    <div class="flex-1">
        <h2>Sign Up</h2>
        <form [formGroup]="registerForm" class="flex-column registerForm" (submit)="register()">
            <div *ngIf="registerError" class="error">{{registerErrorMessage}}</div>
            <mat-form-field appearance="fill">
                <mat-label>E-mail</mat-label>
                <input matInput formControlName="username">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Repeat Password</mat-label>
                <input type="password" matInput formControlName="repeatPassword" placeholder="Powtórz hasło">
            </mat-form-field>
            <button mat-flat-button color="primary">Register</button>
        </form>
    </div>
</div>