<div class="language-selector">
  <button 
    mat-icon-button 
    [matMenuTriggerFor]="languageMenu" 
    class="language-button"
    matTooltip="Change Language"
    aria-label="Change Language"
    #menuTrigger="matMenuTrigger">
    <span class="language-flag">{{currentLanguage.flag}}</span>
  </button>

  <mat-menu #languageMenu="matMenu" xPosition="before" yPosition="below">
    <button 
      mat-menu-item 
      *ngFor="let language of supportedLanguages"
      (click)="selectLanguage(language.code)"
      [class.active]="currentLanguage.code === language.code">
      <span class="language-flag">{{language.flag}}</span>
      <span class="language-name">{{language.name}}</span>
    </button>
  </mat-menu>
</div> 